*~
var
.eln-cache
/tree-sitter/
flycheck_*
/.cache/
/fontaine-latest-state.eld
/tabsession.el
madmacs.env
/.chatgpt-shell.el
/chatgpt/
/ellama-sessions/
/chat.org
/copilot-chat/
/projects
*.elc
/elpa/
