# you can use file named `madmacs.env` in the root of your emacs direcotyr, to set the environment for emacs on startup.
# it will be sourced as one of the very first steps, even before setting up the package system or the native compilation.
# This is particularly useful for when emacs is started on macos from outside a shell.

PATH="~/bin"
